USE [master]
GO
/****** Объект:  Database [Library]    Дата создания скрипта: 18.08.2026 20:26:03 ******/ 
CREATE DATABASE [Library]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Library', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Library.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Library_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Library_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Library].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Library]
GO
/****** Объект:  Table [dbo].[Books]    Дата создания скрипта: 18.08.2026 20:26:03 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Books](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Author] [nvarchar](200) NOT NULL,
	[PublishYear] [int] NULL,
	[ISBN] [nvarchar](20) NULL,
	[Genre] [nvarchar](100) NULL,
	[Description] [nvarchar](max) NULL,
	[Contents] [xml] NULL,
 CONSTRAINT [PK_Books] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Объект:  StoredProcedure [dbo].[Book_Delete]    Дата создания скрипта: 18.08.2026 20:26:03 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Book_Delete]
    @Id INT
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM Books
    WHERE Id = @Id;
END;
GO
/****** Объект:  StoredProcedure [dbo].[Book_GetAll]    Дата создания скрипта: 18.08.2026 20:26:03 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Book_GetAll]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        Id,
        Title,
        Author,
        PublishYear,
        ISBN,
        Genre,
        Description,
        Contents
    FROM Books
    ORDER BY Title;
END;
GO
/****** Объект:  StoredProcedure [dbo].[Book_GetById]    Дата создания скрипта: 18.08.2026 20:26:03 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Book_GetById]
    @Id INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        Id,
        Title,
        Author,
        PublishYear,
        ISBN,
        Genre,
        Description,
        Contents
    FROM Books
    WHERE Id = @Id;
END;
GO
/****** Объект:  StoredProcedure [dbo].[Book_GetContents]    Дата создания скрипта: 18.08.2026 20:26:03 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Book_GetContents]
    @Id INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        C.value('@number', 'INT') AS Number,
        C.value('(title/text())[1]', 'NVARCHAR(500)') AS Title,
        C.value('(page/text())[1]', 'INT') AS Page
    FROM Books
    CROSS APPLY Contents.nodes('/contents/chapter') AS T(C)
    WHERE Books.Id = @Id
    ORDER BY C.value('@number', 'INT');
END
GO
/****** Объект:  StoredProcedure [dbo].[Book_Insert]    Дата создания скрипта: 18.08.2026 20:26:03 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Book_Insert]
    @Title NVARCHAR(200),
    @Author NVARCHAR(200),
    @PublishYear INT = NULL,
    @ISBN NVARCHAR(20) = NULL,
    @Genre NVARCHAR(100) = NULL,
    @Description NVARCHAR(MAX) = NULL,
    @Contents XML = NULL
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Books
    (
        Title,
        Author,
        PublishYear,
        ISBN,
        Genre,
        Description,
        Contents
    )
    VALUES
    (
        @Title,
        @Author,
        @PublishYear,
        @ISBN,
        @Genre,
        @Description,
        @Contents
    );

    SELECT CAST(SCOPE_IDENTITY() AS INT) AS Id;
END;
GO
/****** Объект:  StoredProcedure [dbo].[Book_Update]    Дата создания скрипта: 18.08.2026 20:26:03 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Book_Update]
    @Id INT,
    @Title NVARCHAR(200),
    @Author NVARCHAR(200),
    @PublishYear INT = NULL,
    @ISBN NVARCHAR(20) = NULL,
    @Genre NVARCHAR(100) = NULL,
    @Description NVARCHAR(MAX) = NULL,
    @Contents XML = NULL
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Books
    SET
        Title = @Title,
        Author = @Author,
        PublishYear = @PublishYear,
        ISBN = @ISBN,
        Genre = @Genre,
        Description = @Description,
        Contents = @Contents
    WHERE Id = @Id;
END;
GO
USE [master]
GO
